<div style="padding-top: 3%; padding-bottom: 3%; ">
<h2>Report a Missing or Found Pet</h2>
</div>
<%= render 'form', pet_report: @pet_report %>
<p></p>
<%= link_to 'Back', pet_reports_path, class: "btn btn-outline-primary" %>
