<div style='position:fixed; bottom:0; width:100%; '>
    <div class='container'>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div style='width:100%; text-align:center; color:white; '>
                PetRescue &copy 2021 All Rights Reserved
            </div>
        </nav>
    </div>
</div>